<%- include("header") -%>
<div class="box" id="heading">
  <h1 class="box__title"><%= listTitle %></h1>
</div>
<div class="box">
  <form class="create" action=" /" method="post">
    <input
      class="create__input"
      type="text"
      name="newItem"
      placeholder="Enter your todo"
      autocomplete="off"
    />
    <button
      class="create__botton"
      type="submit"
      name="list"
      value="<%=listTitle%>"
    >
      +
    </button>
  </form>
  <% newListItems.forEach((item) => { %>
  <form class="delete" action="/delete" method="post">
    <label class="delete__label">
      <p class="delete__text"><%=item.name%></p>
      <input
        class="delete__input"
        onChange="this.form.submit()"
        value="<%=item._id%>"
        type="checkbox"
        name="checkbox"
      />
      <div class="delete__checkmark"></div>
    </label>
    <input type="hidden" name="listName" value="<%=listTitle%>" />
  </form>
  <% }) %>
  <div class="info">
    <small>
      To create a new list, add a custom list name to the URL. Example: /work
    </small>
  </div>
</div>
<%- include("footer") -%>
